// Define variables for your color scheme


$red: #FD1015;
$blue: #274060; //car-de-tour nav bar
$yellow: #FFC65A;
$orange: #ECA400; //car-de-tour
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;
$light-blue: #dbecf1; //car-de-tour background
