.home-banner {
  // background-image: url('home_banner2.jpg');
  background-size: cover;
  height: 100vh;
  color: #eee;
  //text-align: left;
  padding-top: 40vh;
  position: relative;
}

.typed {
  left: 50px;
  position: absolute;
  top: 150px;
}
