<div class="sidebar">
  <div class="card-cours">
    <div class="d-flex justify-content-between">
    <h2 class="card-title">Tes cours à venir</h2>
     <button class="btn-outline btn-card-add justify-content-center">+</button>
    </div>

      <div class="card w-125">
        <div class="card-body">
          <h4 class="card-title">Date-heure</h4>
          <p class="card-text">point de rendez-vous</p>
          <a href="#" class="btn-outline btn-card-cardetour">Modifier</a>
        </div>
        <div class="card-avatar">
        <%= image_tag "https://kitt.lewagon.com/placeholder/users/ssaunier", class: "avatar"%>
        </div>
      </div>

      <div class="card w-125">
        <div class="card-body">
          <h4 class="card-title">Date-heure</h4>
          <p class="card-text">point de rendez-vous</p>
          <a href="#" class="btn-outline btn-card-cardetour">Modifier</a>
        </div>
        <div class="card-avatar">
        <%= image_tag "https://kitt.lewagon.com/placeholder/users/ssaunier", class: "avatar"%>
        </div>
      </div>

   </div>

  <div class="card-cours">
    <h2 class="card-title">Tes cours passés</h2>
           <div class="card w-125">
        <div class="card-body">
          <h4 class="card-title">Date-heure</h4>
          <p class="card-text">point de rendez-vous</p>
          <a href="#" class="btn-outline btn-card-cardetour">Voir mon évaluation</a>
        </div>
        <div class="card-avatar">
        <%= image_tag "https://kitt.lewagon.com/placeholder/users/ssaunier", class: "avatar"%>
        </div>
      </div>
  </div>
</div>
