.btn-card-cardetour {
  background-color: none !important;
  color: $orange;
  font-size: 10px;
  padding: 5px;
  border : none;
  box-shadow: none;
  margin: 0px;
  :hover {
    color: $orange !important;
  }
}
