.btn-card-cardetour {
  background-color: none !important;
  color: $orange;
  font-size: 12px;
  padding: 5px;
  border : none;
  box-shadow: none;
  margin: 0px;
  font-family: Comfortaa;
  font-weight: bold;
}

.btn-card-add {
  background-color: $orange;;
  color: white;
  font-size: 30px;
  width: 30px;
  height: 30px;
  text-align: center;
  justify-content: center;
  display: flex;
  align-items: center;
  border-radius: 50%;
  padding: 0px;
  font-size: 20px;
}

.btn-cardetour{
  background-color: $orange !important;
  color: white;
  font-family: Comfortaa;
  font-weight: bold;
  border-radius: 200px;
  font-size: 10px;
  margin: 8px;
  padding: 10px 14px;

}

