.btn-card-cardetour {
  background-color: none !important;
  color: $orange;
  font-size: 12px;
  padding: 5px;
  border : none;
  box-shadow: none;
  margin: 0px;
  font-family: Comfortaa;
  font-weight: bold;
}

#btn-blue {
  color: $blue;

}

.btn-avatar {
  left: 90%;
  padding: 5px;
  margin-bottom: 5px;
}

.btn-card-add {
  background-color: $orange;;
  color: white;
  font-size: 30px;
  width: 30px;
  height: 30px;
  text-align: center;
  justify-content: center;
  display: flex;
  align-items: center;
  border-radius: 50%;
  padding: 0px;
  font-size: 20px;
}

.btn-cardetour{
  background-color: $orange !important;
  color: white;
  font-family: Comfortaa;
  font-weight: bold;
  border-radius: 200px;
  font-size: 12px;
  margin: 8px;
  padding: 10px 30px;
}

#btn-evaluation {
  color: white;
  text-align: center;
  background-color: $orange;
  border-radius: 200px;
  padding: 5px;
  margin: 5px;
}

#btn-evaluation a{
  color: white;
  font-size: 13px;
}

.btn-text-no-review {
  color: $blue !important;
  cursor: auto !important;
}

.btn-home {
  background-color: $orange !important;
  color: black;
  font-family: Comfortaa;
  font-weight: bold;
  border-radius: 200px;
  font-size: 10px;
  margin: 8px;
  padding: 10px 50px;
  font-size: 16px;
  position: absolute;
  top: 75%;
  left: 50%;
  //width: 350px;
  width: 20%;
  transform: translate(-50%, -50%);
}


.btn-new-booking {
  background-color: $orange;
  color: white;
  margin: auto;
}

.btn-chat {
  left: 90%;
  padding: 5px;
  margin-bottom: 10px;

}

#messageDropdown {
  width: 60px;
  height: 60px;
}

.btn-chat .dropdown-toggle::after {
  content: none;
}

.btn-chat p {
  font-size: 14px;
}

.btn-plus {
  background-color: $orange;
  color: white;
  cursor: pointer;
  border: 0;
  border-radius: 5px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  padding: 0px 9px;

}

.js-next-btn {
  text-align: center;
}

