.card-cours {
  margin-bottom: 15px;
  margin-top: 66px;
  position: relative;
  padding: 5px;
  display: flex;
  flex-direction: column;
}

.card-cours h3{
  font-size: 18px;
  color: $blue;
}

.card-cours h2{
  font-size: 24px;
  color: $blue;
  position: sticky;
}

.card-cours p{
  font-size: 14px;
}

.card-avatar {
  position: absolute;
  left: 81.28%;
  right: 71.94%;
  top: 9.11%;
  bottom: 67.44%;
}

