.container-cardetour {
  margin-left: 0;
  width: 100%;
  display: flex;
  min-height: 100vh;
}

.cardetour-content {
  display: flex-column;
  width: 70%;
  padding: 0 30px;

  //margin-top: 20px;
}

.cardetour-sidebar {
  padding: 10px 25px;
  background-color: $blue;
  width: 30%;

}

.row .cardetour {
  position: relative;
  margin: none;
}

.row-evaluation {
  display: flex;
  margin-top: 20px;

}


