.content {
  padding: 10px;
  background-color: none;
  height: 100%;

}

.content-evaluation {
  background-color: white;
  width: 100%;
  padding: 10px 15px;
  //height: 89%;
}

.content-evaluation h2{
  font-weight: bold;
}
