.content {
  padding: 15px;
  background-color: none;
  height: auto;

}

.content-evaluation {
  //background-color: white;
  width: 85%;
  padding: 10px 15px;
}

.content-dashboard {
  width: 85%;
  padding: 10px 15px;
  overflow:hidden;
}

.content-dashboard h2 {
  margin-left: 8px;
}

.content-evaluation h2{
  font-weight: bold;
}

.content .chat-messages {
  display: flex;
  flex-direction: column;
}
