.container-cardetour {
  margin: 5px;
}

.col-8 .cardetour {
  display: flex;
  margin-top: 36px;
}

.col-4 .cardetour {
  display: flex;
}

.row .cardetour {
  position: relative;
  margin: none;
}

.row-evaluation {
  display: flex;
  margin-top: 20px;

}
