.container-cardetour {
  margin-left: 0;
}

.cardetour-content {
  display: flex-column;
  margin-top: 20px;
}

.cardetour-sidebar {
  padding-left: 0;
  height: 100vh;
  position: sticky;
  top: 0;
}

.row .cardetour {
  position: relative;
  margin: none;
}

.row-evaluation {
  display: flex;
  margin-top: 20px;

}

