.heures {
  margin:30px 0px 55px 0px;
}

.evaluation {
  margin: 50px 0px 48px 0px;
}

.timeline {
  height:150px;
  margin:10px 10px 0px 10px;
  padding:10px;
}

.category {
  height:60px;
  text-align: center;
  font-size: 16px;
  vertical-align: center;
  line-height: 60px;
  color: white;
  font-style: bold;
}

.cat-val {
  background-color: #139E10;
  border-bottom-left-radius:2px;
  border-top-left-radius:2px;
}

.cat-tobook {
  border-bottom-right-radius:2px;
  border-top-right-radius:2px;
  background: repeating-linear-gradient(
    116deg,
    #139E10,
    #139E10 2px,
    white 2px,
    white 4px
  );
}

.pastille {
  position:absolute;
  height:90px;
  width:70px;
  top:-94px;
  left:-35px;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 4px;
  align-items: center;
  justify-content: center;
}

.pastille-photo {
  height:45px;
  width:45px;
  border-radius: 50%;
  margin-bottom: 3px;
}

.pastille-heure {
  text-align:center;
  background-color: white;
  border-radius: 50%;
  font-size: 60%;
  height:20px;
  width:20px;
  line-height:20px;

}

.arrivee {
  font-size: 40px;
  position:absolute;
  height:75px;
  top:-54px;
  right:-30px;
  color: #51646A;
}

.depart {
  font-size: 40px;
  position:absolute;
  height:75px;
  top:-48px;
  left:-20px;
  color: #51646A;
}

.ruler {
  padding-left: 20px;
  padding-right: 10px;
}

.jauge {
  background-repeat: no-repeat;
  background-size: 100% 100%;
  height:100px;
  align-items: center;
  justify-content: center;
  width: 200px;
  position:relative
}

.jauge-title {
  text-align: center;
}

.curseur {
  background-repeat: no-repeat;
  background-size: 100% 100%;
  height:80px;
  align-items: center;
  justify-content: center;
  width: 20px;
  position:absolute;
  bottom:-5px;
  left: 90px;
  transform-origin: bottom center;
}
