.heures {
  margin:30px 0px 45px 0px;
  background-color: white;
  border-radius:5px;
}

.evaluation {
  margin: 30px 0px 45px 0px;
}

.timeline {
  height:150px;
  margin:10px 10px 0px 10px;
  padding:15px;
  position:relative;
  // background-color: $light-blue;
}

.category {
  height:40px;
  text-align: center;
  font-size: 16px;
  vertical-align: center;
  line-height: 60px;
  color: white;
  font-style: bold;
  width:100%;
}

.cat-val {
  background-color: #139E10;
  border-bottom-left-radius:2px;
  border-top-left-radius:2px;
  height:40px;
  animation: 2s animjauge ease-out;
  transform-origin:top left;
}

.cat-tobook {
  border-bottom-right-radius:2px;
  border-top-right-radius:2px;
  background: repeating-linear-gradient(
    116deg,
    #139E10,
    #139E10 2px,
    white 2px,
    white 4px
  );
}

.pastille {
  position:absolute;
  height:90px;
  width:70px;
  top:0px;
  margin-left: -45px;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 4px;
  align-items: center;
  justify-content: center;
  animation: 2s animpastille ease-out;
}

.pastille-photo {
  height:45px;
  width:45px;
  border-radius: 50%;
  margin-bottom: 3px;
}

.pastille-heure {
  text-align:center;
  background-color: white;
  border-radius: 50%;
  font-size: 60%;
  height:20px;
  width:20px;
  line-height:20px;
}

@keyframes animjauge {
  from { transform: scaleX(0);}
  to { transform: scaleX(1);}
}

@keyframes animpastille {
  from { transform: translateX(-1000px);}
  to {transform: translateX(0px);}
}


.arrivee {
  font-size: 30px;
  position:absolute;
  height:75px;
  top: 58px;
  right: -5px;
  color: #51646A;
}

.depart {
  font-size: 30px;
  position:absolute;
  height:75px;
  top:61px;
  left:-5px;
  color: #51646A;
}

.ruler {
  padding-left: 20px;
  padding-right: 10px;
}

.jauge {
  height:50px;
  width: 100px;
  margin: 20px 0;
  align-self: center;
  position: relative;
  overflow: hidden;
  // tout ce qui depasse est caché
  z-index: 0;
}

.jauge-title {
  text-align: center;
}

.jauge::after {
  content:"";
  display: block;
  background-color: white;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  position: absolute;
  bottom : -30px;
  left: 20px;
  z-index: 1;
}


.curseur {
  background-repeat: no-repeat;
  background-size: 100% 100%;
  height:40px;
  align-items: center;
  justify-content: center;
  width: 8px;
  position:absolute;
  bottom:1px;
  left: 46px;
  transform-origin: bottom center;
  z-index: 2;
}

.grid {
  padding : 8px;
  border-width: 1px;
  width: 210px;
  border-radius: 5px;
  background-color: white;
  // box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.grids {
  margin-top: 20px;
  margin-left: 0;
  margin-right: 0;
}


