.marker-fail {
  background-image: url('https://res.cloudinary.com/dkybxjjy2/image/upload/v1583407199/exclamation-triangle-solid_1_qcd7cr.png');
  background-size: contain;
  background-repeat: no-repeat;
  width: 30px;
  height: 30px;
  // top: -20px;
  // left: 9px;
  cursor: pointer;
  &:hover {
    width: 40px;
    height: 40px;
    transition: width 150ms, height 150ms;
  }
}

.marker-fail-large {
  background-image: url('https://res.cloudinary.com/dkybxjjy2/image/upload/v1583407199/exclamation-triangle-solid_1_qcd7cr.png');
  background-size: contain;
  background-repeat: no-repeat;
  width: 40px;
  height: 40px;
  // top: -20px;
  // left: 9px;
  cursor: pointer;
}

.marker-success {
  background-image: url('https://upload.wikimedia.org/wikipedia/commons/thumb/6/6b/Check_green_circle.svg/1200px-Check_green_circle.svg.png');
  background-size: contain;
  background-repeat: no-repeat;
  width: 25px;
  height: 25px;
  // top: -20px;
  // left: 9px;
  cursor: auto;
}
