.marker-fail {
  background-image: url('https://upload.wikimedia.org/wikipedia/commons/thumb/c/cc/Cross_red_circle.svg/1200px-Cross_red_circle.svg.png');
  background-size: contain;
  background-repeat: no-repeat;
  width: 25px;
  height: 25px;
  // top: -20px;
  // left: 9px;
  cursor: pointer;
}

.marker-success {
  background-image: url('https://www.kindpng.com/picc/m/80-807690_check-mark-well-icon-internet-circle-good-correct.png');
  background-size: contain;
  background-repeat: no-repeat;
  width: 25px;
  height: 25px;
  // top: -20px;
  // left: 9px;
  cursor: auto;
}
