.navbar-cardetour {
  justify-content: space-between;
  background: $blue;
}

.navbar-cardetour .navbar-collapse {
  flex-grow: 0;
}

.navbar-cardetour .navbar-brand img {
  width: 100px;
}

.navbar-brand {
  margin-left: 10px;
}

.navbar-nav li {
margin: 5px;
}

.navbar-cardetour-home {
  justify-content: flex-end;
  background: transparent;

  //background-color: white;
}

.nav-item .far {
  color: $orange;
  font-size: 30px;
  margin-top: 10px;
  margin-right: 5px;
}

.dropdown-toggle::after {
  content: none;

}

