.navbar-cardetour {
  justify-content: space-between;
  box-shadow: none;
  background-color: #EDF3F5;
  position: sticky;
}

.navbar-cardetour .navbar-collapse {
  flex-grow: none;
}

.navbar-brand img {
  width: 200px;
}

.navbar-brand {
  margin-left: 10px;
}

.navbar-nav li {
margin: 5px;
}

.navbar-cardetour-home {
  justify-content: flex-end;
  background: transparent;
  padding: 8px 16px;

  //background-color: white;
}

.nav-item .far {
  color: $orange;
  font-size: 30px;
  margin-top: 10px;
  margin-right: 5px;
}

.dropdown-toggle::after {
  content: none;

}

#cardetour-nav {
  position: sticky;
  top: 0;
  background-color: #EDF3F5;
  z-index: 1;
}

