.sidebar{
  background-color: $blue;
  padding : 10px 25px;
  min-height: 100vh;
}

.sidebar h5 {
  color: $blue;
  font-weight: bold;
  font-size: 1.5rem;
}

.sidebar h4{
  color: $blue;
}

.sidebar h2{
  color: white !important;
}

.sidebar p{
  color: $blue;
}


.jauge-card {
  height:25px;
  width: 50px;
  margin: 10px 0;
  align-self: center;
  position: relative;
  overflow: hidden;
  // tout ce qui depasse est caché
  z-index: 0;
}

.jauge-card::after {
  content:"";
  display: block;
  background-color: white;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  position: absolute;
  bottom : -15px;
  left: 10px;
  z-index: 1;
}

.curseur-card {
  background-repeat: no-repeat;
  background-size: 100% 100%;
  height:20px;
  align-items: center;
  justify-content: center;
  width: 4px;
  position:absolute;
  bottom:1px;
  left: 23px;
  transform-origin: bottom center;
  z-index: 2;
}

.note-sidebar {
    width: 40px;
    height: 40px;
    margin: 0;
    color: white;
    border-radius: 50%;
    text-align: center;
    line-height: 40px;
    font-family: Comfortaa;
    font-size: 12px;
    font-weight: bold;
}

.color-respect {
  background-color: #24418C;
}

.color-share {
  background-color: #47A1BD;
}

.color-control {
  background-color: #F86513;
}
