.teacher-bar {
  width: 360px;
  height: 90px;
  border-radius: 4px;
  overflow: scroll;
  display: flex;
  justify-content: start;
  // background-color: rgba(255, 255, 255, 0.5);
  background-color: black;
  color: white;
  padding: 8px;
}

.teacher-bar img {
  margin: 4px 8px;
}
